.nav{
  height: 100%;
  padding: 0 1rem;
}
.mat-form-field{
  width: 285px;
}
.mat-select{
  width: 245px;
}
.logo{
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: teal;
}

.mat-nav-list{
  padding: 0;
}
